

/*folders*/

div#contentBox table {

    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

div#contentBox table:not(.tableHeader) tr:nth-child(even) {
    background-color: var(--listEven);
}

div#contentBox table:not(.tableHeader) tr:nth-child(odd) {
    background-color: var(--listOdd);
}

div#contentBox table:not(.tableHeader) {
    cursor: pointer;
}

div#contentBox table.tableHeader {
    background-color: var(--headerBgColor);
}

div#contentBox table.tableHeader th {
    border-bottom: 1px solid var(--borderColor);
}

div#contentBox table tr {
    transition: var(--transitionSpeed);
}

div#contentBox table.tableHeader th:hover {
    background-color: var(--accentColorHover);
}

div#contentBox table:not(.tableHeader) tr:hover {
    background-color: var(--accentColorHover);
}

div#contentBox table:not(.tableHeader) tr {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

}

div#contentBox table:not(.tableHeader) td {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#addBookmark td {
    text-align: center;
    vertical-align: center;
}


/* ! */

/* forms */

/* ! */

#formBox {
    transition: var(--transitionSpeed);
    background-color: var(--divBgcolor);
    box-sizing: border-box;
    border: 1px solid var(--borderColor);
    width: 100%;
    border-radius: 4px;
    color: var(--textColor);
    margin-bottom: 10px;
    padding-inline: 5px;
    padding-block: 10px;
    height: auto;
}

#form {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

#formBox:hover {
    border-color: var(--accentColorSelected);
}

#formBox div {
    width: 100%;
}

#formBox input {
    background-color: var(--listEven);
    border: 1px solid var(--borderColor);
}

#formBox input:hover {
    background-color: var(--accentColorHover);
}

#formBox input:focus {
    background-color: var(--accentColorSelected);
}

#formBox input[type=text] {
    width: 100%;
}

#formBox input[type=button] {
    width: 100%;
}






@media screen and (max-width: 700px) {
    div#contentBox table td:not(:first-child) {
        display: none;
    }

    div#contentBox table th:not(:first-child) {
        display: none;
    }
}

