body {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

/* ! */

/*left container and its content*/

/* ! */

#leftContainer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    transition: var(--transitionSpeed);
    background-color: var(--mainBgColor);
    width: 250px;
    height: 100%;
    border-right: 1px solid var(--borderColor);
    margin-right: 20px;
    flex-shrink: 0;
    overflow-y: auto;
    padding: 0 0.4rem 0 0.4rem;
}

#leftContainer ul {
    transition: var(--transitionSpeed);
    padding: 0;
    list-style-type: none;
    overflow-x: hidden;
    white-space: nowrap;
    margin: 0;
    width: 100%;
    font-size: var(--fontSize);
    margin-block: 0.4rem;
}
/* #mainNavbar {
    
} */
#footerNavbar {
    position: absolute;
    bottom: 0;
    background-color: var(--mainBgColor);
    border-top: 1px solid var(--borderColor);
}
#footerNavWrapper {
    position: relative;
    flex-grow: 1;
    min-height: 50px;
}


#leftContainer li {
    width: 100%;
    height: 1.74rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
#leftContainer table.link i {
    margin-left: 0.2rem;
    vertical-align: center;
}
#leftContainer table {
    transition: var(--transitionSpeed);
    height: 100%;
    width: 100%;
    border-collapse: collapse;
}
#leftContainer tr {
    height: 100%;
}
#leftContainer td {
    height: 100%;
    padding: 0;
    vertical-align: center;
    text-align: left;
}
#leftContainer table.editButton td {
    text-align: center;
}
#leftContainer table.editButton {
    color: var(--textColor);
    flex-grow: 0;
    flex-shrink: 0;
    flex: 20%;
    cursor: pointer;
}
#leftContainer table.editButton:hover {
    background-color: var(--accentColorHover);
}
#leftContainer table.title {
    color: var(--textColorFaded);
    cursor: default;
}
body.editMode table.title {
    cursor: pointer;
}
#leftContainer table.link {
    color: var(--textColor);
    cursor: pointer;
}
#leftContainer table.link:hover {
    background-color: var(--accentColorHover);
}
#leftContainer table.link td:first-child {
    width: 1.7rem;
}
#leftContainer table.selected {
    background-color: var(--accentColorSelected) !important;
}
#leftContainer li.isBeingDraggedOver {
    transition: var(--transitionSpeed);
    border-top: 1px solid var(--accentColorSelected);
}

#leftContainer table#addLink td {
    text-align: center;
}


/* ! */

/*right container and its content*/

/* ! */
#rightContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 5px 5px 5px 0;
}

#contentBox {
    transition: var(--transitionSpeed);
    box-sizing: border-box;
    background-color: var(--divBgcolor);
    border: 1px solid var(--borderColor);
    height: 100%;
    width: 100%;
    border-radius: 4px;
    overflow-x: hidden;
    overflow-y: auto;
    color: var(--textColor);
}

#contentBox:hover {
    border-color: var(--accentColorSelected);
}

/*folders*/

div#contentBox table {

    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

div#contentBox table:not(.tableHeader) tr:nth-child(even) {
    background-color: var(--listEven);
}

div#contentBox table:not(.tableHeader) tr:nth-child(odd) {
    background-color: var(--listOdd);
}

div#contentBox table:not(.tableHeader) {
    cursor: pointer;
}

div#contentBox table.tableHeader {
    background-color: var(--headerBgColor);
}

div#contentBox table.tableHeader th {
    border-bottom: 1px solid var(--borderColor);
}

div#contentBox table tr {
    transition: var(--transitionSpeed);
}

div#contentBox table.tableHeader th:hover {
    background-color: var(--accentColorHover);
}

div#contentBox table:not(.tableHeader) tr:hover {
    background-color: var(--accentColorHover);
}

div#contentBox table:not(.tableHeader) tr {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

}

div#contentBox table:not(.tableHeader) td {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#addBookmark td {
    text-align: center;
    vertical-align: center;
}


/* ! */

/* forms */

/* ! */

#formBox {
    transition: var(--transitionSpeed);
    background-color: var(--divBgcolor);
    box-sizing: border-box;
    border: 1px solid var(--borderColor);
    width: 100%;
    border-radius: 4px;
    color: var(--textColor);
    margin-bottom: 10px;
    padding-inline: 5px;
    padding-block: 10px;
    height: auto;
}

#form {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

#formBox:hover {
    border-color: var(--accentColorSelected);
}

#formBox div {
    width: 100%;
}

#formBox input {
    background-color: var(--listEven);
    border: 1px solid var(--borderColor);
}

#formBox input:hover {
    background-color: var(--accentColorHover);
}

#formBox input:focus {
    background-color: var(--accentColorSelected);
}

#formBox input[type=text] {
    width: 100%;
}

#formBox input[type=button] {
    width: 100%;
}






@media screen and (max-width: 700px) {
    div#contentBox table td:not(:first-child) {
        display: none;
    }

    div#contentBox table th:not(:first-child) {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    #leftContainer {
        width: 50px;
        position: absolute;
    }

    #leftContainer:hover {
        width: 200px;
    }

    #rightContainer {
        margin-left: 70px;
    }

    #leftContainer ul {
        opacity: 0;
    }

    #leftContainer:hover ul {
        opacity: 1;
    }
}