#contentBox {
    scroll-behavior: smooth;
}

#contentBox>hr {
    width: 90%;
    border: none;
    border-bottom: 1px solid var(--borderColor);
}

h1 {
    margin-left: 5%;
    color: var(--textColorFaded);
}

p {
    margin-left: 5%;
    padding-left: 5%;
}