#contentBox {
    scroll-behavior: smooth;
    padding-inline: 5%;
}

hr {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--borderColor);
}

h1 {
    color: var(--textColorFaded);
}

p {
    margin-left: 5%;
}

footer {
    height: 5rem;
}